.dialogue
    .list
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: center
            margin-bottom: 10px
            p
                margin: 0
        .question
            p
                font-size: 20px
                text-transform: uppercase
                font-weight: bold
                color: #0096c6
                text-align: center
                margin: 0 auto
        .answer
            justify-content: flex-end
            p
                text-align: center
                font-size: 20px
                text-transform: uppercase
                font-weight: bold
                margin: 0 auto