.ecology
    background: url("../img/ecology__bg.jpg") no-repeat center top
    .block
        &-heading
            margin: 0 auto 40px
    .title
        font-size: 19px
    .list
        list-style: none
        margin: 0 0 10px
        padding: 0
        display: flex
        li
            flex: 0 0 30%
            position: relative
            margin-right: 1%
            .counter
                color: $gray-500
            .lazy
                display: block
                width: 39px
                height: 39px
                flex: 0 0 39px
                margin-left: 10px
                margin-top: 5px
                filter: invert(47%) sepia(74%) saturate(2813%) hue-rotate(161deg) brightness(97%) contrast(101%)
            p
                margin: 10px 0 0 10px
                font-size: 14px
            &:after
                content: ''
                display: block
                width: 100px
                height: 1px
                background-color: $gray-400
                position: absolute
                right: 10px
                top: 30px
            &:last-child
                &:after
                    display: none
    .embed-responsive
        border-radius: 15px
    .note
        text-align: right
        margin: 0
        font-size: 31px
        padding-top: 38px
        padding-right: 20px
        padding-bottom: 40px
        position: relative
        span
            display: block
            font-size: 14px
        &:after
            content: ''
            display: block
            background: url("../img/laundry__arrow.png") no-repeat center center / contain
            width: 370px
            height: 100px
            position: absolute
            top: 20px
            left: 20px
    .bottom
        display: flex
        .hand
            display: block
            margin-top: -72px
            position: relative
            z-index: 1
        .signs
            margin-left: -170px
            margin-right: 70px
            margin-top: 130px
            .sign
                display: flex
                align-items: center
                margin-bottom: 16px
                .block
                    border-radius: 10px
                    box-shadow: 0 0 70px 0 rgba(0,0,0,0.15)
                    padding: 20px 50px
                    height: 130px
                    .title
                        font-size: 17px
                    .list
                        margin-top: 10px
                        li
                            display: flex
                            .counter
                                color: $blue
                                font-size: 43px
                                font-weight: 400
                                display: block
                                line-height: 43px
                            p
                                margin: 0 0 0 10px
                            &:after
                                display: none
                .image
                    display: flex
                    width: 130px
                    height: 130px
                    flex: 0 0 130px
                    justify-content: center
                    align-items: center
                    background-color: #fbfbfb
                    border-radius: 50%
                    margin-left: -65px
                    img
                        display: block
                        align-self: center
                &:first-child
                    .block
                        background-color: $white
                &:last-child
                    .block
                        background-color: $blue
                        color: $white
                        p
                            margin: 15px 0 0
                            padding-right: 100px
    .dialogue
        .list
            li
                &:after
                    display: none