.features
    position: relative
    z-index: 1
    margin-top: -280px
    padding-top: 250px
    padding-bottom: 450px
    margin-bottom: -180px
    background-repeat: no-repeat
    background-position: center top
    pointer-events: none
    .dialogue
        margin-bottom: 100px
    .powder
        display: block
        position: absolute
        top: 0
        left: 0
        margin-top: -110px
    .block
        width: 160px
        height: 140px
        background-color: $white
        margin: 0 auto 4px
        padding: 15px
        position: relative
        .counter
            position: absolute
            top: 15px
            left: 15px
            font-size: 14px
            color: $gray-400
        p
            margin: 50px auto 0
            font-size: 14px
            text-align: center
        img
            display: block
            position: absolute
            right: 15px
            top: 15px
            width: 30px
            height: 30px
            object-fit: contain
            filter: invert(47%) sepia(74%) saturate(2813%) hue-rotate(161deg) brightness(97%) contrast(101%)
        &:before
            content: ''
            display: block
            position: absolute
            width: 15px
            height: 15px
            border-radius: 50%
            background-color: $blue
        &:after
            content: ''
            display: block
            position: absolute
            width: 106px
            height: 20px
            background: url("../img/features__lines_1.png") no-repeat center center
        &_1, &_2, &_3
            left: 60px
            &:before
                right: -7px
        &_4, &_5, &_6
            right: 50px
            &:before
                left: -7px
        &_1, &_4
            &:before
                top: -7px
        &_2, &_5
            &:before
                top: 80px
            &:after
                height: 1px
                background: url("../img/features__lines_2.png") no-repeat center center
        &_3, &_6
            &:before
                bottom: -7px
        &_1
            &:after
                top: -24px
                right: -115px
        &_2
            &:after
                top: 88px
                right: -115px
        &_3
            &:after
                transform: rotate(180deg)
                bottom: -24px
                right: -115px
        &_4
            &:after
                top: -24px
                left: -115px
        &_5
            &:after
                top: 88px
                left: -115px
        &_6
            &:after
                transform: rotate(180deg)
                bottom: -24px
                left: -115px