.forchild
    background: url("../img/forbaby__bg.jpg") no-repeat center top
    height: 638px
    margin-top: -150px
    position: relative
    z-index: 1
    .dialogue
        .list
            margin-top: 370px
            margin-right: 30px
            color: $white
            .question
                p
                    color: $white
    .angle-down
        height: 60px
        width: 60px
        background-color: $white
        border-radius: 50%
        margin: 125px auto 0
        display: flex
        align-items: center
        justify-content: center
        transform: rotate(90deg)
        img
            display: block
            width: 16px
            height: 16px
            flex: 0 0 16px
            opacity: 0.5
.forchild_more
    background: url("../img/forbaby__bg2.jpg") no-repeat center top -100px
    padding-top: 60px
    padding-bottom: 140px
    .title
        font-size: 27px
        display: block
        margin-bottom: 10px
        margin-top: 80px
        &_first
            margin-top: 100px
    .desc
        font-size: 14px
    .list
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 30px 0 40px 0
        padding: 0
        li
            flex: 0 0 45%
            display: flex
            align-items: center
            margin-bottom: 15px
            img
                display: block
                margin-right: 20px
                width: 127px
                max-height: 121px
                flex: 0 0 127px
                object-fit: contain
            p
                font-size: 14px
                margin: 0
        &_contents
            flex-direction: column
            justify-content: flex-start
            li
                flex: 0 0 auto
                width: 100%
                position: relative
                .counter
                    font-size: 54px
                    line-height: 54px
                    font-weight: 900
                    opacity: 0.11
                    width: 55px
                p
                    margin: 0 0 0 -19px
        &_features
            flex-direction: column
            justify-content: flex-start
            max-width: 315px
            margin: 0 auto
            li
                flex: 0 0 100px
                width: 100%
                margin-bottom: 12px
                background-color: $white
                border-radius: 40px
                box-shadow: 0px 1px 92px 0px rgba(31, 25, 26, 0.17)
                .image
                    width: 100px
                    height: 100px
                    flex: 0 0 100px
                    background-color: $blue
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 40px
                    margin-right: 45px
                    img
                        display: block
                        width: 30px
                        height: 30px
                        object-fit: contain
                        filter: invert(100%)
                        margin: 0
                p
                    width: 140px
                    flex: 0 0 140px
    .product
        display: block
        margin-bottom: -300px
        width: 521px
        height: 836px
.forchild_types
    background: url("../img/forbaby__bg3.jpg") no-repeat center top -200px
    .block
        border: 1px solid $gray-500
        border-radius: 15px
        padding: 20px 30px
        margin-top: 30px
        &-top
            display: flex
            div
                flex: 1 1 auto
                .title
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    text-align: right
                    margin-top: 15px
                    min-height: 125px
                .list
                    list-style: none
                    margin: 25px 0 0
                    padding: 0
                    display: flex
                    flex-direction: column
                    li
                        position: relative
                        margin-bottom: 20px
                        p
                            text-align: right
                            margin: 0
                            padding-right: 50px
                        &:after
                            content: ''
                            background: url("../img/forbaby__types-list.png") no-repeat center center
                            display: block
                            width: 66px
                            height: 32px
                            position: absolute
                            right: -40px
                            top: 50%
                            transform: translateY(-50%)
            .image
                flex: 0 0 200px
                margin-right: -40px
        &_right
            .block-top
                .image
                    width: 200px
                    margin-top: 41px
                    margin-left: -40px
                    margin-right: 0
                    img
                        display: block
                        margin-left: -40px
                        pointer-events: none
                div
                    .title
                        text-align: left
                        padding-left: 20px
                    .list
                        li
                            p
                                padding-right: 0
                                padding-left: 50px
                                text-align: left
                            &:after
                                right: 0
                                left: -30px
                                transform: translateY(-50%) rotate(180deg)
        .title
            color: $blue
            text-transform: uppercase
            font-size: 21px
            font-weight: 900
        .pricing
            max-width: 320px
            margin: 0 auto
            .content
                display: flex
                justify-content: space-between
                margin-bottom: 25px
                .left
                    b
                        display: block
                        color: $white
                        background: transparentize($black, 0.3)
                        border-radius: 40px
                        padding: 20px 28px
                        text-align: center
                        font-size: 17px
                        font-weight: 900
                        margin-bottom: 4px
                        &:last-child
                            margin-bottom: 0
                .right
                    border: 1px solid $gray-500
                    border-radius: 40px
                    flex: 0 0 150px
                    .top, .bottom
                        height: 50%
                        display: flex
                        justify-content: center
                        align-items: center
                        p
                            text-align: center
                            margin: 0
                            b
                                display: block
                                font-size: 22px
                                line-height: 22px
                                text-decoration: line-through
                    .top
                        b
                            font-weight: 400
                            font-size: 26px
                    .bottom
                        background-color: #e2e2e2
                        border-radius: 0 0 40px 40px