.jumbotron
    background: url("../img/jumbotron__bg.jpg") no-repeat center top
    height: 778px
    padding-top: 160px
    position: relative
    .block
        &-heading
            text-align: left
            font-size: 41px
            color: $white
            font-weight: 900
            text-transform: none
            margin-right: -100px
    .list
        list-style: none
        display: flex
        flex-wrap: wrap
        margin: 60px 0 0
        padding: 0
        li
            flex: 0 0 50%
            display: flex
            margin-bottom: 20px
            img
                display: block
                align-self: flex-start
                width: 40px
                height: 40px
                flex: 0 0 40px
                object-fit: contain
                filter: invert(1)
            div
                margin-left: 8px
                color: $white
                b
                    text-transform: uppercase
                    font-size: 13px
                p
                    font-size: 13px
                    margin: 5px 0 0
    .lazy.product
        display: block
        pointer-events: none
        position: absolute
        right: -150px
    &-decor
        position: absolute
        top: 0
        left: 0
        z-index: 1
        width: 100%
        height: 639px
        background-repeat: no-repeat
        background-position: center top
        pointer-events: none