.laundry
    background: url("../img/laundry__bg.jpg") no-repeat center top
    padding-bottom: 200px
    &-image
        display: block
        margin-top: -120px
        margin-bottom: 50px
        margin-left: -40px
    .block
        &-heading
            text-align: right
        &-desc
            text-align: right
    .note
        text-align: right
        margin: 0
        font-size: 31px
        padding-top: 38px
        padding-right: 20px
        padding-bottom: 40px
        position: relative
        span
            display: block
            font-size: 14px
        &:after
            content: ''
            display: block
            background: url("../img/laundry__arrow.png") no-repeat center center / contain
            width: 370px
            height: 100px
            position: absolute
            top: 20px
            left: 20px
    .dialogue
        .list
            padding-right: 45px
    .embed-responsive
        border-radius: 15px
    .nav-tabs
        justify-content: space-between
        border: none
        max-width: 480px
        margin: 30px 0 0 auto
        .nav-item
            flex: 0 0 32%
            width: 32%
            margin-bottom: 10px
            .nav-link
                display: flex
                align-items: center
                border: 1px solid $black
                border-radius: 10px
                color: $black
                transition: background-color 0.3s ease
                img
                    display: block
                    width: 42px
                    height: 42px
                    object-fit: contain
                    filter: invert(47%) sepia(74%) saturate(2813%) hue-rotate(161deg) brightness(97%) contrast(101%)
                    margin-right: 17px
.resque
    .block
        position: relative
        .lazy
            display: block
            position: relative
            z-index: 1
        .type
            display: flex
            align-items: center
            position: absolute
            right: -80px
            top: 40px
            width: 220px
            img
                display: block
                filter: drop-shadow(0px 1px 40px rgba(31, 25, 26, 0.18))
                margin-right: 21px
            p
                flex: 0 0 110px
                font-size: 14px
                margin: 5px 0 0
        &_left, &_right
            &:after
                content: ''
                display: block
                position: absolute
                bottom: 70px
                right: -150px
                background: url("../img/resque/icon-3.png") no-repeat center center / contain
                width: 363px
                height: 91px
        &_mid
            .lazy
                margin: 0 auto
        &_right
            .lazy
                margin: 0 0 0 auto
            .type
                right: 240px
            &:after
                right: 170px
                transform: scaleX(-1)
        &-desc
            text-align: center
            margin-bottom: 50px