.order
    background: url("../img/order__bg_1.jpg") no-repeat center bottom
    position: relative
    padding-bottom: 200px
    &-decor
        position: absolute
        top: 40px
        right: 0
        z-index: 1
        width: 100%
        height: 806px
        background: url("../img/order__decor.png") no-repeat right top
        pointer-events: none
    .block
        position: relative
        .lazy
            display: block
            margin-left: -100px
            margin-top: -30px
        .stats
            position: absolute
            top: 120px
            right: 0
            div
                display: flex
                align-items: flex-end
                b
                    color: $blue
                    font-size: 68px
                    font-weight: 400
                    line-height: 1
                p
                    display: block
                    position: relative
                    z-index: 1
                    background-color: #fff
                    border-radius: 25px
                    padding: 7px
                    font-size: 18px
                    margin-left: -15px
                    margin-bottom: 5px
    .guarantee
        max-width: 420px
        margin: 40px auto 0
        .title
            margin: 0 auto
            display: flex
            justify-content: center
            align-items: center
            b,p
                font-weight: 900
                color: $gray-900
            b
                font-size: 48px
            p
                font-size: 15.5px
                margin: 0 0 0 5px
                flex: 0 0 140px
        .desc
            p
                text-align: center
                margin: 0
        .price
            display: flex
            height: 84px
            margin-top: 13px
            .discounted, .old
                height: 84px
                display: flex
                flex-direction: column
                p
                    margin: 10px 0 0
                    text-align: center
                b
                    display: block
                    text-align: center
                    line-height: 1
            .discounted
                border: 3px solid $gray-300
                border-right: none
                border-radius: 10px 0 0 10px
                width: 66.6666%
                b
                    font-size: 40px
                    font-weight: 400
            .old
                background-color: $blue
                border-radius: 0 10px 10px 0
                width: 33.3333%
                color: $white
                position: relative
                .discount
                    width: 77px
                    height: 77px
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    background-color: #9ccf23
                    color: $white
                    font-size: 22.53px
                    font-weight: 700
                    position: absolute
                    right: -54px
                    top: -34px
                    z-index: 2
                p
                    font-size: 14px
                    margin: 20px 0 3px
                b
                    font-size: 22px
                &:after
                    content: ''
                    width: 80%
                    height: 1px
                    background-color: $white
                    display: block
                    position: absolute
                    top: 50%
                    left: 15px
                    transform: rotate(-30deg)
    .form
        background-color: #ececec
        border-radius: 15px
        padding: 20px 33px
        margin-top: 6px
        .title
            font-size: 25px
            text-align: center
            margin-bottom: 15px
        .note
            text-align: center
            margin: 0
            font-size: 11px
    .return
        margin-bottom: 80px
        .block
            display: flex
            align-items: center
            .lazy
                display: block
                margin-left: 20px
                position: relative
                z-index: 1
            b
                display: block
                font-size: 39px
                color: #6b7781
                font-weight: 900
                flex: 0 0 340px
                margin-left: -80px
                margin-top: -50px
        .note
            border: 1px solid $gray-500
            border-radius: 10px
            padding: 28px
            margin: -20px 0 0 60px
    &_footer
        padding-bottom: 40px
        .dialogue
            .list
                .answer
                    justify-content: center
                    text-align: center
    &_prefooter
        margin-top: 40px
        padding-bottom: 40px