.price
    background-repeat: no-repeat
    background-position: center bottom -220px
    padding-bottom: 145px
    margin-bottom: -50px
    .block_main
        display: flex
        position: relative
        padding: 15px 20px
        border-radius: 20px
        background-color: $white
        box-shadow: 0px 1px 29px 0px rgba(31, 25, 26, 0.2)
        margin-bottom: 38px
        margin-top: 50px
        &:before, &:after
            content: ''
            display: block
            position: absolute
            z-index: 1
        &:before
            width: 101px
            height: 51px
            top: -20px
            left: 140px
            background: url("../img/price/block-main__decor_1.png") no-repeat center center
        &:after
            width: 99px
            height: 45px
            bottom: -30px
            right: 80px
            background: url("../img/price/block-main__decor_2.png") no-repeat center center
        .left
            position: relative
            background: url("../img/price/block-main__bg.jpg") no-repeat center center
            border-radius: 20px
            flex: 0 0 198px
            height: 230px
            color: $white
            display: flex
            flex-direction: column
            justify-content: space-between
            &:before, &:after
                content: ''
                width: 42px
                height: 42px
                flex: 0 0 42px
                top: 60px
                display: block
                background-color: $white
                border-radius: 50%
                position: absolute
            &:before
                left: -20px
            &:after
                right: -20px
            .economy
                text-align: center
                margin: 50px auto 0
                font-size: 14px
                font-style: italic
                b
                    display: block
                    font-style: italic
                    font-size: 40px
                    font-weight: 900
                    line-height: 1
            .note
                height: 84px
                display: flex
                justify-content: center
                align-items: center
                margin: 0
                text-align: center
                font-size: 14px
                background-color: rgba(0,0,0,0.4)
                border-radius: 0 0 20px 20px
        .right
            margin-left: 35px
            display: flex
            flex-direction: column
            justify-content: center
            b
                font-weight: 400
                font-size: 32px
            p
                font-size: 14px
                margin: 10px 0 0
    .button
        max-width: 410px
    .block
        border-radius: 20px
        display: flex
        flex-direction: column
        align-items: flex-end
        padding: 23px
        height: 273px
        margin-top: 15px
        margin-bottom: 15px
        box-shadow: 0px 1px 76px 0px rgba(31, 25, 26, 0.15)
        >b
            text-transform: uppercase
            font-weight: 900
            font-size: 42.52px
            display: block
            margin-top: 60px - 23px
        .list
            display: flex
            align-items: center
            margin: 10px 0 0
            padding: 0
            width: 260px
            list-style: none
            li
                border-radius: 20px
                background-color: rgba(0,0,0,0.4)
                padding: 15px 20px
                height: 50px
                display: flex
                align-items: center
                margin-right: 8px
                b
                    text-transform: uppercase
                    font-size: 28px
                    line-height: 1
                    display: flex
                    font-weight: 900
                    align-items: flex-start
                p
                    margin: -5px 0 0 10px
                    flex: 0 0 60px
                    font-size: 13px
                    line-height: 10px
                &:last-child
                    margin-right: 0
                    b
                        span
                            margin-top: 3px
                            font-size: 15px
        &_amway
            background: url("../img/price/block-amway.jpg") no-repeat center top / cover
            color: $white
        &_other
            background: url("../img/price/block-other.jpg") no-repeat center top / cover
            .list
                color: $white