.reviews
    background: url("../img/reviews__bg.jpg") no-repeat center top -70px
    padding-bottom: 60px
    .block
        &-heading
            margin-bottom: 40px
    .review
        display: flex
        align-items: center
        border: 1px solid $gray-500
        border-radius: 150px
        padding: 12px 20px
        margin-bottom: 9px
        position: relative
        .avatar
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50%
            width: 240px
            height: 240px
            flex: 0 0 240px
            margin-right: 38px
            img
                display: block
                align-self: center
                width: 100%
                height: 100%
                border-radius: 50%
        .content
            padding-right: 40px
            .text
                font-size: 14px
            .author
                b
                    font-size: 22px
                .age
                    display: flex
                    align-items: center
                    margin-top: 10px
                    font-size: 14px
                    &:before
                        content: ''
                        display: block
                        background: url("../img/icons/woman.png") no-repeat center center / contain
                        width: 24px
                        height: 24px
                        flex: 0 0 24px
                        opacity: 0.2
                        margin-right: 12px
        &:after
            content: '“'
            color: $blue
            font-weight: 700
            transform: rotate(180deg)
            font-size: 131px
            position: absolute
            right: 150px
            bottom: 0