.sa8
    background-repeat: no-repeat
    background-position: center top
    position: relative
    z-index: 1
    padding-top: 400px
    margin-top: -400px
    pointer-events: none
    .dialogue
        .block
            &-heading
                color: $white
                text-transform: uppercase
                font-size: 55px
                font-weight: 900
                text-align: right
                text-shadow: 0px 0px 80px rgba(0,0,0,0.3)
                margin-bottom: 40px
        .list
            margin-left: 50px
            .question
                p
                    margin-right: 0
            .answer
                p
                    margin-right: 0
    .longer_life
        margin-top: 255px
        padding-bottom: 100px
        .block
            &-heading
                margin-bottom: 100px
        .lazy
            display: block
            margin-top: -50px
        .title
            font-size: 32px
            max-width: 300px
        p
            font-size: 14px
            max-width: 300px
        .list
            list-style: none
            max-width: 300px
            margin: 0
            padding: 0
            display: flex
            flex-wrap: wrap
            align-items: center
            li
                padding: 10px 15px
                background-color: $white
                border-radius: 10px
                margin-right: 7px
                margin-bottom: 7px
                p
                    margin: 0