.time
    padding-top: 100px
    background-repeat: no-repeat
    background-position: calc(50vw - 960px) bottom, center top
    color: $white
    min-height: 1140px
    margin-top: 40px
    .dialogue
        .list
            li
                flex: 0 0 auto
                margin-left: 0
                margin-bottom: 30px
            .question
                p
                    margin-right: 0
            .answer
                p
                    margin-right: 0
    .block
        &-heading
            color: $white
            text-align: right
            font-size: 30px
            &.caps
                font-weight: 900
                text-align: right
                text-transform: uppercase
                font-size: 53px
                margin-top: 150px
                margin-bottom: 110px
    .list
        list-style: none
        margin: 0 0 0 auto
        max-width: 992px
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        li
            flex: 0 0 184px
            display: flex
            align-items: center
            margin-left: 5%
            margin-bottom: 45px
            p
                text-align: right
                margin: 0
            img
                display: block
                width: 50px
                flex: 0 0 50px
                height: 50px
                object-fit: contain
                filter: invert(100%)
                opacity: 0.2
                margin-left: 20px
        &_bottom
            max-width: 1040px
            justify-content: space-between
            flex-wrap: nowrap
            margin: 40px 0 0 auto
            li
                flex: 0 0 240px
                margin: 0
                position: relative
                flex-direction: column
                .circle
                    background-color: $white
                    width: 26px
                    height: 26px
                    flex: 0 0 26px
                    margin: 0 auto 30px
                    border-radius: 50%
                p
                    font-size: 14px
                    text-align: center
                    max-width: 90%
                &:after
                    content: ''
                    width: 220px
                    height: 3px
                    display: block
                    background-color: $blue
                    position: absolute
                    right: -124px
                    top: 10px
                &:last-child
                    &:after
                        display: none