html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 13px 'Montserrat', sans-serif;
.wrapper
    flex: 1 0 auto
    overflow: hidden
    width: 100%
    max-width: 100%
.footer
    flex-shrink: 0

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800,900,900i&subset=cyrillic')

@import "slick"
@import "slick-theme"
@import "magnific-popup"

@import "header"
@import "content"
@import "main-blocks/jumbotrons"
@import "main-blocks/order"
@import "main-blocks/dialogue"
@import "main-blocks/features"
@import "main-blocks/price"
@import "main-blocks/laundry"
@import "main-blocks/sa8"
@import "main-blocks/ecology"
@import "main-blocks/forchild"
@import "main-blocks/time"
@import "main-blocks/reviews"

@import "media"