.block
    &-heading
        display: block
        font-size: 32px
        font-weight: 700
        color: $black
        text-align: center
        margin-bottom: 10px
    &-desc
        color: $black
        text-align: center
        font-size: 14px
=placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::placeholder
        @content
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-bg.mfp-ready 
  opacity: 0.8
.mfp-fade.mfp-bg.mfp-removing 
  opacity: 0
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0
.mfp-popup
    position: relative
    background: $white
    padding: 20px
    width: auto
    max-width: 960px
    margin: 20px auto
    border-radius: 5px
    .form
        .title
            font-weight: 700
            text-align: center
            font-size: 25.66px
        .button
            margin: 0 auto
        .note
            text-align: center
        .benefit
            display: flex
            justify-content: center
            align-items: center
            margin: -30px auto
            .image
                flex: 0 0 270px
                width: 270px
                img
                    display: block
                    pointer-events: none
            .equals
                font-size: 59px
                line-height: 1
                margin: 0 50px
            .price
                display: flex
                flex-direction: column
                padding: 0
                background: none
                margin: 0
                .discounted, .old
                    width: 247px
                    display: flex
                    flex-direction: column
                    p
                        margin: 10px 0 0
                        text-align: center
                    b
                        display: block
                        text-align: center
                        line-height: 1
                .discounted
                    border: 3px solid $gray-300
                    border-radius: 10px
                    display: flex
                    flex: 0 0 130px
                    margin-top: -10px
                    b
                        font-size: 40px
                        font-weight: 400
                    p
                        margin: 40px 0 0
                .old
                    background-color: $blue
                    border-radius: 10px
                    flex: 0 0 88px
                    color: $white
                    position: relative
                    .discount
                        width: 77px
                        height: 77px
                        display: flex
                        justify-content: center
                        align-items: center
                        border-radius: 50%
                        background-color: #9ccf23
                        color: $white
                        font-size: 22.53px
                        font-weight: 700
                        position: absolute
                        left: -34px
                        top: -34px
                        z-index: 2
                    p
                        font-size: 14px
                        margin: 20px 0 3px
                    b
                        font-size: 22px
                    &:after
                        content: ''
                        width: 100px
                        height: 1px
                        background-color: $white
                        display: block
                        position: absolute
                        top: 50%
                        left: 75px
                        transform: rotate(-30deg)
.mfp-close-btn-in
    .mfp-close
        font: 48px "Montserrat", sans-serif
        color: #999999
        line-height: 44px
        font-weight: 100
#callback
    max-width: 440px
    .order
        background: none
        padding: 0 0 30px
        .guarantee
            margin: 0
            max-width: 100%
#thankyou
    min-height: 134px
    .block
        &-heading
            margin: 0 auto
            font-size: 42.67px
        &-desc
            font-size: 17.78px
.input
    padding: 10px
    padding-left: 40px
    border: none
    border-radius: 10px
    height: 44px
    font-size: 13px
    color: $black
    position: relative
    margin-bottom: 10px
    background-color: #d9d9d9
    +placeholder
        font-size: 12px
        color: $black
    &_name, &_phone
        &:before
            content: ''
            display: block
            width: 15px
            height: 15px
            position: absolute
            left: 30px
            top: 15px
            z-index: 1
            filter: invert(68%) sepia(0%) saturate(697%) hue-rotate(153deg) brightness(92%) contrast(77%)
    &_name
        &:before
            background: url("../img/icons/man-user.png") no-repeat center center / contain
    &_phone
        &:before
            background: url("../img/icons/phone-receiver.png") no-repeat center center / contain
.orders
    position: fixed
    bottom: 60px
    right: 70px
    max-width: 300px
    z-index: 100
.neworder
    position: relative
    padding: 15px 19px
    border-radius: 5px
    background-color: rgba(0,0,0,0.8)
    transition: all 0.4s ease
    opacity: 0
    margin-bottom: 10px
    .cart
        display: flex
        align-items: center
        justify-content: center
        background-color: $blue
        width: 48px
        height: 44px
        border-radius: 5px
        position: absolute
        left: -48px - 8px
        top: 0
        img
            display: block
            align-self: center
    .title
        color: $white
        display: block
        font-size: 18.78px
    .text
        color: $white
        margin: 2px 0 0
        font-size: 14.78px
    &-close
        appearance: none
        background: none
        border: none
        position: absolute
        padding: 0
        margin: 0
        right: 15px
        top: 19px
        color: $white
        font-size: 22px
        cursor: pointer
        transition: all 0.3s ease
        font-weight: 100
        line-height: 12px
        &:hover
            color: $blue
        &:focus
            outline: 0
    &.show
        opacity: 1