.footer
    padding: 40px 0
    background-color: #1f191a
    color: $white
    &-logo
        display: block
        width: 268px
        margin-bottom: 30px
    &-link
        display: flex
        align-items: center
        color: $white
        transition: all 0.3s ease
        font-size: 17px
        margin-bottom: 10px
        max-width: 155px
        margin-left: auto
        img
            display: block
            width: 20px
            margin-right: 14px
            filter: invert(78%) sepia(85%) saturate(2769%) hue-rotate(347deg) brightness(99%) contrast(101%)
        &:hover
            text-decoration: none
            color: $yellow
    &-creator
        display: flex
        flex-direction: column
        align-items: flex-end
        p
            margin: (30px - 10px) 0 12px
            width: 154px
            text-align: right
    &-list
        display: flex
        flex-direction: column
        flex-wrap: wrap
        max-height: 110px
        list-style: none
        margin: 32px 0 0
        padding: 0
        li
            margin-bottom: 10px
            a
                color: $white
                font-size: 15px
                &:hover
                    color: $white
            &:nth-child(4n)
                margin-bottom: 0