.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 10px
    background-color: $blue
    color: $white
    height: 43px
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    font-weight: 700
    text-transform: uppercase
    img
        transition: all 0.3s ease
    &:hover
        color: $white
        text-decoration: none
        img
            filter: invert(1)
    &:focus
        outline: 0
    &_circled
        width: 100%
        margin: 12px auto
        background: $blue
        box-shadow: 0px 1px 0px 0px rgba(0, 106, 133, 0.75)
        position: relative
        p
            position: relative
            z-index: 1
            margin: 0
        &:after
            content: ''
            width: 100%
            height: 30px
            background: #33b0d4
            display: block
            position: absolute
            top: 0
            left: 0
            border-radius: 10px 10px 50% 50%
            transition: all 0.3s ease
            pointer-events: none
        &:hover
            background: darken($blue, 10%)
            &:after
                background: darken(#33b0d4, 10%)