@media (min-width: 1200px)
    .container
        max-width: 1200px
    .forchild_more
        .title
            margin-left: -40px
        .desc
            margin-left: -40px
        .list_contents, .list
            margin-left: -40px
        .list_features
            margin-left: auto
@media (min-width: 992px) and (max-width: 1199px)
    .jumbotron
        .lazy.product
            width: 700px
    .order
        .block
            .lazy
                margin-left: -210px
                width: 695px
                height: 576px
        .return
            .block
                margin-top: 30px
                .lazy
                    width: 240px
                    height: auto
                b
                    font-size: 32px
                    margin-left: -60px
    .features
        .powder
            left: -50px
        .block
            &_1, &_2, &_3
                left: -30px
            &_4, &_5, &_6
                right: -30px
    .price
        .block
            background-position: right top
    .resque
        .block
            &-heading
                text-align: center
            .type
                flex-direction: column
                width: 160px
                top: 0
                right: -70px
                p
                    text-align: center
            &_left
                &:after
                    right: -180px
            &_right
                .type
                    right: 220px
                &:after
                    right: 120px
    .sa8
        .longer_life
            .lazy
                width: 440px
                margin-left: 0
    .ecology
        .bottom
            .hand
                margin-left: -50px
                width: 399px
                height: 541px
            .signs
                margin-right: 0
    .forchild
        background-position: right -300px top
    .forchild_more
        .list
            li
                img
                    width: 100px
                    flex: 0 0 100px
                    margin-right: 10px
        .product
            width: 440px
            height: 706px
            margin-bottom: -250px
    .forchild_types
        .block
            padding: 20px
            height: calc(100% - 30px)
            display: flex
            flex-direction: column
            justify-content: space-between
            .pricing
                width: 320px
            .block-top
                div
                    .title
                        font-size: 16px
                        min-height: 95px
            &_left
                .block-top
                    div
                        .list
                            li
                                p
                                    padding-right: 5px
                                &:after
                                    right: -70px
                    .image
                        margin-top: 80px
                        img
                            width: 170px
            &_right
                .block-top
                    div
                        .title
                            padding-left: 0
                        .list
                            li
                                p
                                    padding-left: 5px
                                &:after
                                    left: -70px
                    .image
                        margin-top: 90px
                        margin-left: 0px
                        margin-right: -40px
                        img
                            width: 240px
                            margin-left: -60px
    .time
        .block
            &-heading
                font-size: 26px
                text-align: center
@media (min-width: 768px) and (max-width: 991px)
    .jumbotron
        height: auto
        background-position: left top
        .block
            &-heading
                margin-right: 0
                text-align: center
        .lazy.product
            position: relative
            width: 700px
            right: 0
            margin-bottom: -200px
        .list
            margin: 0 0 30px
            li
                img
                    filter: none
                div
                    color: $black
    .order
        .block
            .lazy
                margin-left: -190px
                width: 500px
                height: 530px
                object-fit: contain
        .return
            .block
                margin-top: 0px
                justify-content: center
                .lazy
                    width: 240px
                    height: auto
                b
                    font-size: 38px
                    margin-left: -60px
            .note
                margin: 30px 0 0 0
    .features
        .powder
            left: -90px
            z-index: 1
        .block
            &_1, &_2, &_3
                left: -30px
            &_4, &_5, &_6
                right: -30px
    .price
        .block
            background-position: right top
            &_main
                .right
                    b
                        font-size: 24px
    .laundry
        padding-bottom: 100px
        .tab-content
            margin-top: 50px
        .note
            &:after
                left: 130px
    .resque
        .block
            margin-bottom: 200px
            &-heading
                text-align: center
            .type
                flex-direction: column
                width: 160px
                top: auto
                right: 50%
                bottom: -85%
                transform: translateX(45%)
                p
                    text-align: center
            .lazy
                margin: 0 auto
            &_left
                &:after
                    right: 50%
                    bottom: -50%
                    transform: translateX(25%) rotate(90deg)
            &_right
                margin-bottom: 0
                .type
                    bottom: 85%
                &:after
                    right: 0%
                    bottom: 120%
                    transform: translateX(-25%) rotate(-90deg)
    .sa8
        padding-top: 1150px
        padding-bottom: 160px
        background-position: calc(50vw - 600px) top
        .dialogue
            .block
                &-heading
                    color: #a8a5a3
            .list
                margin: 0
                .question
                    &:before
                        filter: none
        .longer_life
            margin-top: 25px
            .lazy
                width: 330px
                margin-left: 0
    .ecology
        .list
            li
                &:after
                    width: 130px
        .embed-responsive
            margin-top: 40px
        .note
            &:after
                left: 130px
        .bottom
            .hand
                margin-left: -170px
                width: 399px
                height: 541px
            .signs
                margin-right: 0
                .sign
                    .block
                        height: 160px
                        padding-right: 80px
                        .list
                            li
                                 p
                                     font-size: 13px
                    .image
                        height: 160px
                        width: 160px
                        flex: 0 0 160px
                        margin-left: -90px
    .forchild
        background-position: right -300px top
    .forchild_more
        padding-bottom: 40px
        .list
            li
                img
                    width: 100px
                    flex: 0 0 100px
                    margin-right: 10px
        .product
            width: 440px
            height: 706px
            margin: 0 auto -250px
    .forchild_types
        .block
            padding: 20px
            height: auto
            display: flex
            flex-direction: column
            justify-content: space-between
            &_right
                .block-top
                    .image
                        img
                            width: 301px
                            height: 308px
            .pricing
                width: 320px
    .time
        min-height: 0
        background-size: 400px, cover
        background-position: left bottom, top
        .block
            &-heading
                font-size: 26px
                text-align: center
                &.caps
                    margin-top: 50px
                    font-size: 44px
        .list
            &_bottom
                flex-direction: column
                max-width: 360px
                margin-left: auto
                li
                    flex: 0 0 auto
                    margin-bottom: 60px
                    .circle
                        margin: 0 auto -26px 0
                    &:after
                        width: 2px
                        height: calc(100% + 26px)
                        right: auto
                        left: 12px
                        top: 30px
@media (min-width: 576px) and (max-width: 767px)
    .jumbotron
        padding-top: 50px
        height: auto
        background-position: left top
        background-size: 1760px
        .block
            &-heading
                margin-right: 0
                text-align: center
        .lazy.product
            position: relative
            width: 700px
            right: 0
            margin-left: -100px
            margin-bottom: -200px
        .list
            margin: 0 0 30px
            flex-direction: column
            li
                flex: 0 0 auto
                img
                    filter: none
                div
                    color: $black
    .order
        .block
            .lazy
                margin-left: -170px
                width: 695px
                height: 576px
                object-fit: contain
        .guarantee
            .price
                height: auto
                padding-bottom: 70px
        .return
            .block
                margin-top: 0px
                justify-content: center
                .lazy
                    width: 240px
                    height: auto
                b
                    font-size: 38px
                    margin-left: -60px
            .note
                margin: 30px 0 0 0
    .features
        padding-bottom: 240px
        .dialogue
            margin-bottom: 30px
        .powder
            left: -90px
            z-index: 1
        .block
            left: 0
            right: 0
            width: 100%
            margin: 0 auto 30px
            box-shadow: 0 0 80px 0 rgba(0,0,0,0.15)
            &:before, &:after
                display: none
    .price
        padding-bottom: 100px
        background: none !important
        .block
            background-position: right top
            &_main
                flex-direction: column
                box-shadow: none
                background: none
                margin: 15px auto 38px
                padding: 0
                .left
                    flex: 0 0 auto
                    width: 198px
                    margin: 0 auto 15px
                    &:before, &:after
                        display: none
                .right
                    margin: 0
                    b
                        font-size: 24px
                        text-align: center
                    p
                        text-align: center
                &:before, &:after
                    display: none
    .laundry
        background: none !important
        padding-bottom: 100px
        .block
            &-heading
                text-align: center
            &-desc
                text-align: center
        .nav-tabs
            max-width: 100%
            margin: 30px auto 0
        .tab-content
            margin-top: 50px
        .note
            &:after
                left: 15px
    .resque
        .block
            margin-bottom: 200px
            &-heading
                text-align: center
            .type
                flex-direction: column
                width: 160px
                top: auto
                right: 50%
                bottom: -85%
                transform: translateX(45%)
                p
                    text-align: center
            .lazy
                margin: 0 auto
            &_left
                &:after
                    right: 50%
                    bottom: -50%
                    transform: translateX(25%) rotate(90deg)
            &_right
                margin-bottom: 0
                .type
                    bottom: 85%
                &:after
                    right: -100px
                    bottom: 120%
                    transform: translateX(-25%) rotate(-90deg)
    .sa8
        background-position: calc(50vw - 800px) top
        padding-top: 1200px
        padding-bottom: 100px
        .dialogue
            .block
                &-heading
                    color: #a8a5a3
            .list
                margin: 0
        .longer_life
            padding-bottom: 0
            .lazy
                width: 481px
                margin: 0 auto
            .title, .desc, .list
                max-width: 100%
    .ecology
        background: none !important
        .list
            flex-wrap: wrap
            li
                flex: 0 0 48%
                margin-bottom: 15px
                &:after
                    display: none
                p.title
                    font-size: 24px
        .embed-responsive
            margin-top: 40px
        .note
            &:after
                left: 15px
                top: 40px
        .bottom
            align-items: flex-end
            .hand
                margin-left: -120px
                width: 295px
                height: 400px
            .signs
                margin-right: 0
                margin-top: 0
                .sign
                    flex-direction: column
                    .block
                        height: auto
                        border-radius: 0
                    .image
                        height: 160px
                        width: 160px
                        flex: 0 0 160px
                        margin-left: 0
                    &:first-child
                        margin-left: -100px
                        .block
                            box-shadow: none
                            padding-left: 250px
                            padding-right: 0
                            .title
                                margin-left: -170px
                        .image
                            position: absolute
                            left: 0
                            top: 20px
                            margin: 0
                            background: none
                    &:last-child
                        .image
                            order: 0
                            width: 120px
                            height: 120px
                            flex: 0 0 120px
                            background-color: $white
                            box-shadow: 0 0 80px 0 rgba(0,0,0,0.2)
                            margin-bottom: -40px
                            z-index: 1
                        .block
                            padding-top: 60px
                            order: 1
    .forchild
        background-position: right -300px top
    .forchild_more
        padding-bottom: 40px
        .list
            li
                img
                    width: 100px
                    flex: 0 0 100px
                    margin-right: 10px
        .product
            width: 440px
            height: 706px
            margin: 0 auto -250px
    .forchild_types
        .block
            padding: 20px
            height: calc(100% - 30px)
            display: flex
            flex-direction: column
            justify-content: space-between
            &_right
                .block-top
                    .image
                        img
                            width: 576
                            height: 308px
            .pricing
                width: 320px
    .time
        min-height: 0
        background-size: 400px, cover
        background-position: left bottom, top
        .block
            &-heading
                font-size: 26px
                text-align: center
                &.caps
                    margin-top: 50px
                    font-size: 32px
        .list
            &_top
                justify-content: center
                li
                    flex: 0 0 45%
                    justify-content: flex-end
                    margin-left: 0
                    margin-right: 5%
                    &:nth-child(2n)
                        margin-right: 0
                    &:last-child
                        margin-left: 0
            &_bottom
                flex-direction: column
                max-width: 320px
                margin-left: auto
                li
                    flex: 0 0 auto
                    margin-bottom: 60px
                    p
                        padding-left: 30px
                    .circle
                        margin: 0 auto -26px 0
                    &:after
                        width: 2px
                        height: calc(100% + 26px)
                        right: auto
                        left: 12px
                        top: 30px
    .reviews
        background: none !important
        .review
            border-radius: 0
            margin: 0 -35px 10px
            align-items: flex-start
            .avatar
                width: 100px
                height: 100px
                flex: 0 0 100px
                margin-right: 20px
            &:after
                display: none
@media (max-width: 575px)
    .input
        font-size: 14px
        +placeholder
            font-size: 14px
    .orders
        right: 0
        bottom: 0
        max-width: 100%
        .neworder
            margin-bottom: 0
            border-radius: 0
            .title
                font-size: 14px
            .text
                font-size: 12px
    .block
        &-heading
            font-size: 24px
        &-desc
            line-height: 1.5
    .jumbotron
        padding-top: 50px
        height: auto
        background-position: left top
        background-size: 1340px
        .block
            &-heading
                margin: 0 auto 10px
                text-align: center
                font-size: 22px
                min-height: 233px
                max-width: 290px
                span.line-2
                    font-size: 34px
                    display: block
                span.line-3
                    font-size: 48px
                    display: block
                span.line-4
                    font-size: 29px
                    display: block
        .lazy.product
            position: relative
            width: 400px
            right: 0
            margin: 30px auto -100px
            transform: translateX(-60px)
        .list
            margin: 0 0 30px
            flex-direction: column
            li
                flex: 0 0 auto
                img
                    filter: none
                    width: 32px
                    height: 32px
                    flex: 0 0 32px
                div
                    color: $black
                    b
                        font-size: 14px
                        display: block
                        line-height: 1.5
                    p
                        font-size: 14px
                        line-height: 1.5
        &-decor
            background-position: left top
    .order
        .block
            max-width: 290px
            margin: 0 auto
            .lazy
                margin: -60px auto
                transform: translateX(-120px)
                width: 440px
                height: 520px
                object-fit: contain
            .stats
                top: 150px
                div
                    b
                        font-size: 44px
                        font-weight: 400
                    p
                        font-size: 14px
                        padding: 2px
        .guarantee
            .title
                p
                    line-height: 1.5
            .desc
                p
                    font-size: 14px
                    line-height: 1.5
            .price
                height: auto
                padding-bottom: 70px
                p
                    font-size: 14px
                .old
                    .discount
                        width: 52px
                        height: 52px
                        top: -30px
                        right: -20px
                        font-size: 18px
        .form
            padding: 20px
            .note
                font-size: 14px
                line-height: 1.5
        .return
            margin-bottom: 0
            .block
                max-width: 290px
                margin-top: 0px
                justify-content: center
                .lazy
                    width: 140px
                    height: auto
                    transform: none
                b
                    font-size: 18px
                    margin-left: -60px
                    flex: 0 0 160px
                    line-height: 1.5
                    margin-top: 0
            .note
                margin: 30px 0 0 0
                padding: 16px 14px
                line-height: 1.5
    .dialogue
        .list
            .question
                p
                    font-size: 14px
                    line-height: 1.5
                &:before
                    margin-left: 0
                    margin-right: 30px
            .answer
                p
                    font-size: 14px
                    line-height: 1.5
    .features
        margin-top: -230px
        padding-top: 160px
        padding-bottom: 240px
        background-size: 1600px
        .dialogue
            margin-bottom: 30px
        .block
            left: 0
            right: 0
            width: calc(100% + 7.5px)
            margin: 0 auto 15px
            box-shadow: 0 0 80px 0 rgba(0,0,0,0.15)
            padding: 5px
            p
                font-size: 14px
                font-weight: 700
                line-height: 1.5
            .counter
                top: 5px
                left: 5px
            img
                right: 5px
                top: 5px
            &:before, &:after
                display: none
            &_2, &_4, &_6
                margin-left: -7.5px
    .price
        padding-bottom: 100px
        background: none !important
        .block
            background-position: right top
            padding: 12px
            height: 170px
            >b
                font-size: 30px
            .list
                width: 220px
                li
                    height: 44px
                    padding: 6px 10px
                    b
                        font-size: 30px
                    p
                        font-size: 14px
                        line-height: 1.5
                        flex: 0 0 55px
            &_main
                flex-direction: column
                box-shadow: none
                background: none
                margin: 15px auto 38px
                padding: 0
                .left
                    flex: 0 0 auto
                    width: 198px
                    margin: 0 auto 15px
                    .economy, .note
                        line-height: 1.5
                    &:before, &:after
                        display: none
                .right
                    margin: 0
                    b
                        font-size: 15.7px
                        line-height: 1.5
                        text-align: center
                        font-weight: 700
                    p
                        text-align: center
                        line-height: 1.5
                &:before, &:after
                    display: none
    .laundry
        background: none !important
        padding-bottom: 100px
        .block
            &-heading
                text-align: center
            &-desc
                text-align: center
        .nav-tabs
            max-width: 100%
            margin: 30px auto 0
            .nav-item
                flex: 0 0 48%
                width: 48%
                margin-right: 1%
                .nav-link
                    padding: 8px 15px
                    font-size: 14px
                    line-height: 1.5
                    height: 60px
                    img
                        width: 34px
                        height: 34px
                        flex: 0 0 34px
                        margin-right: 10px
        .tab-content
            margin-top: 50px
        .note
            font-size: 20px
            line-height: 1.5
            span
                font-size: 14px
            &:after
                width: 260px
                left: auto
                right: 30px
    .resque
        .block
            margin-bottom: 200px
            &-heading
                text-align: center
            .type
                flex-direction: column
                width: 160px
                top: auto
                right: 50%
                bottom: -85%
                transform: translateX(45%)
                p
                    text-align: center
                    line-height: 1.5
            .lazy
                margin: 0 auto
            &_left
                &:after
                    right: 50%
                    bottom: -50%
                    transform: translateX(25%) rotate(90deg)
            &_right
                margin-bottom: 0
                .type
                    bottom: 85%
                &:after
                    left: 50%
                    right: auto
                    bottom: 120%
                    transform: translateX(-25%) rotate(-90deg)
    .sa8
        background-position: calc(50vw - 290px) top
        background-size: 800px
        padding-top: 470px
        padding-bottom: 100px
        margin-top: -300px
        .dialogue
            .block
                &-heading
                    color: #a8a5a3
                    font-size: 28px
                    margin-bottom: 10px
            .list
                margin: 0
                li
                    margin-bottom: 15px
                .question
                    &:before
                        filter: none
                        width: 22px
                        height: 22px
                        flex: 0 0 22px
                .answer
                    p
                        font-size: 14px
        .longer_life
            margin-top: 30px
            padding-bottom: 0
            .block
                &-heading
                    margin-bottom: 20px
            .lazy
                max-width: 481px
                width: 100%
                margin: 0 auto
            .title, .desc, .list
                max-width: 100%
    .ecology
        background: none !important
        .list
            flex-wrap: wrap
            margin: 0 auto 10px
            li
                flex: 0 0 48%
                width: 48%
                margin-bottom: 15px
                &:after
                    display: none
                p
                    line-height: 1.5
                    margin-left: 15px
                p.title
                    font-size: 16px
                    letter-spacing: -0.2px
                    margin: 0
                .lazy
                    width: 33px
                    height: 33px
                    margin-left: 15px
                    flex: 0 0 33px
        .dialogue
            .list
                li
                    width: auto
                    flex: 0 0 auto
                    p
                        margin: 0
        .embed-responsive
            margin-top: 40px
        .note
            font-size: 20px
            line-height: 1.5
            padding-top: 20px
            span
                font-size: 14px
            &:after
                width: 260px
                left: auto
                right: 40px
                top: 30px
        .bottom
            align-items: flex-end
            .hand
                margin-left: -140px
                width: 310px
                height: 420px
                object-fit: contain
            .signs
                margin-right: 0
                margin-top: 0
                margin-left: -130px
                .sign
                    flex-direction: column
                    .block
                        height: auto
                        border-radius: 0
                    .image
                        height: 160px
                        width: 160px
                        flex: 0 0 160px
                        margin-left: 0
                    &:first-child
                        margin-left: -100px
                        margin-bottom: 80px
                        .block
                            box-shadow: none
                            padding-left: 180px
                            padding-right: 0
                            .title
                                display: block
                                margin-left: -115px
                                margin-right: -140px
                                width: calc(100vw - 30px)
                                font-size: 16px
                            .list
                                flex-direction: column
                                margin-top: 30px
                                li
                                    flex: 0 0 100%
                                    width: 100%
                                    p
                                        line-height: 1.5
                                    .counter
                                        width: 24px
                                        flex: 0 0 24px
                        .image
                            position: absolute
                            left: -20px
                            top: 50px
                            margin: 0
                            background: none
                    &:last-child
                        margin-left: 0
                        .image
                            order: 0
                            width: 86px
                            height: 86px
                            flex: 0 0 86px
                            background-color: $white
                            box-shadow: 0 0 20px 0 rgba(0,0,0,0.3)
                            margin-bottom: -20px
                            z-index: 1
                            transform: translateX(20px)
                            img
                                height: 68px
                        .block
                            padding-top: 20px
                            padding-left: 40px
                            padding-right: 30px
                            order: 1
                            margin-right: -30px
                            .title
                                font-size: 14px
                            p
                                padding-right: 0
                                font-size: 14px
                                line-height: 1.5
    .forchild
        background: url("../img/forbaby__bg_m.jpg") no-repeat center top 170px
        height: 380px
        .angle-down
            display: none
        .dialogue
            .list
                margin-top: 0
                margin-right: 0
                color: $black
                .question
                    &:before
                        filter: none
    .forchild_more
        padding-top: 30px
        padding-bottom: 40px
        background: none
        .list
            li
                flex: 0 0 100%
                p
                    line-height: 1.5
                img
                    width: 100px
                    flex: 0 0 100px
                    margin-right: 10px
            &_features
                li
                    .image
                        margin-right: 30px
            &_contents
                li
                    p
                        margin: 0 0 0 -5px
        .title
            &_first
                margin-top: 40px
                font-size: 16px
        .product
            width: 320px
            height: 513px
            margin: 0 auto -170px
    .forchild_types
        .block
            padding: 0px
            height: auto
            margin: 0
            border: none
            display: flex
            flex-direction: column
            justify-content: space-between
            .block-top
                div
                    .title
                        font-size: 14px
                        min-height: 0
                        line-height: 1.5
                    .list
                        li
                            p
                                line-height: 1.5
                            &:after
                                width: 40px
                                background-position: right center
            &_left
                .block-top
                    .image
                        flex: 0 0 150px
                        margin-top: 110px
                        img
                            width: 150px
                    div
                        .list
                            li
                                p
                                    padding-right: 10px
            &_right
                .block-top
                    .image
                        flex: 0 0 120px
                        width: 120px
                        margin-top: 120px
                        img
                            width: 200px
                            height: 204px
                            margin-left: -35px
                    div
                        .title
                            padding-left: 0
                        .list
                            li
                                p
                                    padding-left: 30px
                                &:after
                                    left: -20px
            .pricing
                width: 100%
                .content
                    .left
                        b
                            font-size: 15px
                            padding: 20px
                    .right
                        .bottom
                            p
                                line-height: 1.5
    .time
        min-height: 0
        background-size: 400px, cover
        background-position: left -70px bottom, top
        padding-top: 38px
        .dialogue
            .list
                .answer
                    p
                        font-weight: 700
        .block
            &-heading
                font-size: 14px
                text-align: center
                &.caps
                    margin: 48px auto
                    font-size: 16px
        .list
            &_top
                justify-content: center
                li
                    flex: 0 0 49%
                    width: 49%
                    justify-content: flex-end
                    margin-left: 0
                    margin-right: 1%
                    p
                        font-size: 14px
                        line-height: 1.5
                    img
                        width: 30px
                        height: 30px
                        flex: 0 0 30px
                        margin-left: 10px
                    &:nth-child(2n)
                        margin-right: 0
                    &:last-child
                        margin-left: 0
                        flex: 0 0 100%
                        width: 100%
                        justify-content: center
            &_bottom
                flex-direction: column
                max-width: 65%
                margin-left: auto
                li
                    flex: 0 0 auto
                    margin-bottom: 60px
                    p
                        padding-left: 16px
                        font-size: 14px
                        line-height: 1.5
                        text-align: left
                    .circle
                        margin: 0 auto -26px 0
                        width: 14px
                        height: 14px
                        flex: 0 0 14px
                    &:after
                        width: 2px
                        height: calc(100% + 36px)
                        right: auto
                        left: 6px
                        top: 20px
    .reviews
        background: none !important
        .review
            border-radius: 0
            margin: 0 -35px -1px
            align-items: flex-start
            .avatar
                width: 70px
                height: 70px
                flex: 0 0 70px
                margin-right: 20px
            .content
                padding-right: 0
                display: flex
                flex-direction: column
                .text
                    order: 1
                    line-height: 1.5
                    margin: 40px auto 16px -85px
                .author
                    order: 0
                    display: flex
                    align-items: center
                    margin-top: 20px
                    margin-bottom: 0px
                    b
                        font-size: 18px
                    .age
                        margin: 0 0 0 10px
            &:after
                display: none